
White = #E0D9CA
BaseColour = #C9B593
Highlight = #86A143
Highdark = #476228
Lowlight = #336B70
Lowdark = #163647

StandardFont = 16px "Lucida Grande", Arial, sans-serif
BigFont = bold 35px "Lucida Grande", Arial, sans-serif 

body
	font StandardFont
	background-color BaseColour

#comingsoon
	margin 75px 75px 5px 75px
	.title
		font BigFont
		color Highlight
		
.banner
	width 100%
	padding 6px 
	padding-bottom 8px
	background-color Lowlight
	color White