//t r b l

White = #E0D9CA
BaseColour = #C9B593
Highlight = #86A143
Highdark = #476228
Lowlight = #336B70
Lowdark = #163647

@import "dejavu.styl"

StandardFont = 18px Helvetica, Arial, sans-serif
BigFont = bold 35px Helvetica, Arial, sans-serif 

body
	font StandardFont
	background-color BaseColour

#comingsoon
	margin 22px 60px 11px 60px
	.title
		font BigFont
		color Highdark
		
.banner
	width 100%
	padding 7px 15px 7px 15px
	background-color Lowlight
	color White