!!!5
html
	head
		meta(charset="utf-8")
		meta(name="description", content="")
		meta(name="author", content="")

		title Boardly the gnarly open source kanban
		
		include skeleton-stylesheets
		
		link(rel="stylesheet", href="stylesheets/main.css")
	
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

		// if lt IE 9
			script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

		script()
	body
		.container

			#comingsoon
				.title Boardly
				.banner
					| the gnarly open source kanban
		
		include javascripts