!!!5
html
	head
		meta(charset="utf-8")
		meta(name="description", content="")
		meta(name="author", content="")

		title Nagare the open source kanban
		
		include bootstrap-stylesheets
		
		link(rel="stylesheet", href="stylesheets/nagare.css")
	
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

		// if lt IE 9
			script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

		script()
	body
		#comingsoon
			.title Nagare
		
		.banner
			| the open source kanban
	
		.container
			
		include javascripts