@font-face {
  font-family: 'DejaVuSansBook';
  src: url("/fonts/DejaVuSans-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DejaVuSansOblique';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DejaVuSansBold';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DejaVuSansBoldOblique';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DejaVuSansCondensed';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DejaVuSansCondensedOblique';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DejaVuSansCondensedBold';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DejaVuSansCnBdOb';
  font-weight: normal;
  font-style: normal;
}
