body {
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #c9b593;
}
#comingsoon {
  margin: 75px 75px 5px 75px;
}
#comingsoon .title {
  font: bold 35px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #86a143;
}
.banner {
  width: 100%;
  padding: 6px;
  padding-bottom: 8px;
  background-color: #336b70;
  color: #e0d9ca;
}
